Package: cn.llld.biaoji
Name: 截图标记-rootless(键盘修复版)
Author: 来了老弟 X: h_h_x_t
Description: 给Snapper 或stayShot插件增加标记功能，快速对图进行箭头，打码，复制，方块，涂鸦，保存，高亮，文字等，免去了装第三方软件或者跳转程序的繁琐，14-17可用。本版修复了文字标注时键盘无法弹出的问题。改屏幕图标在插件目录下Library/MobileSubstrate/DynamicLibraries/biaoji/pencil.tip.crop.circle.png，设置里图标名为Settings-biaoji.png
Depends: mobilesubstrate
Maintainer: 来了老弟 X: h_h_x_t
Section: rootless插件
Architecture: iphoneos-arm64
Version: 1.6.1
Installed-Size: 200
